auto-py-to-exe
bcrypt
beautifulsoup4
browser-cookie3
colorama
cryptography
customtkinter
deep-translator
discord
dnspython
exifread
GPUtil
instaloader
keyboard
opencv-python
phonenumbers
piexif
pillow
psutil
pyautogui
pycryptodome
pyinstaller
pyqt5
pyqtwebengine
pywin32
pyzipper
rarfile
requests
screeninfo
selenium
setuptools
urllib3
whois