setuptools
pyinstaller
urllib3
PyQt5
PyQtWebEngine
colorama
psutil
keyboard
requests
dnspython
selenium
deep-translator
phonenumbers
bcrypt
beautifulsoup4
pypiwin32
whois


cryptography
screeninfo
psutil
GPUtil
requests
pycryptodome
pypiwin32
discord.py
Pillow
browser-cookie3
opencv-python
pyautogui
keyboard